default:
  emfit:
    username: email@address
    password: XXX
    devices:
      4613:
        name: NAME
        deviceId: 5555
        number: 12223335555
    stateFile: /tmp/statefile.json
  chat:
    space: XX
    key: XX
    token: XX
  twilio:
    accountSid: XX
    authToken: XX
    fromNumber: 12223335555


